<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.jarndt.gitlabwatcherpusher</string>
        <key>ProgramArguments</key>
        <array><string>/Users/jarndt/git/computer-recovery/mac/misc-bin-scripts/gitlab-directory-watcher.sh</string></array>
        <key>StandardOutPath</key>
        <string>/Users/jarndt/log/gitlab-directory-watcher.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/jarndt/log/gitlab-directory-watcher.log</string>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>